# Amazon AWS credentials
aws_assume_role_arn = ""
aws_profile         = ""
aws_cred_file       = "~/.aws/credentials"
# Amazon AWS Key Pair Name
ssh_key_name   = ""
ssh_cidr_range = ""
# Region where resources should be created
aws_region = "us-west-2"
# Resources will be prefixed with this to avoid clashing names
prefix = ""
# Admin password to access Rancher
admin_password = ""
# Name of custom cluster that will be created
cluster_name = "quickstart"
# rancher/rancher image tag to use
rancher_version = "latest"
# Count of agent nodes with role all
count_agent_all_nodes = "0"
# Count of agent nodes with role etcd
count_agent_etcd_nodes = "1"
# Count of agent nodes with role controlplane
count_agent_controlplane_nodes = "1"
# Count of agent nodes with role worker
count_agent_worker_nodes = "3"
# Docker version of host running `rancher/rancher`
docker_version_server = "19.03"
# Docker version of host being added to a cluster (running `rancher/rancher-agent`)
docker_version_agent = "19.03"
# AWS Instance Type
type = "t3.medium"
# VPC & Subnets to be deployed in
vpc_id        = ""
vpc_cidr      = ""
public_subnet = ""
